* {
    color: #a7a7a7;
}
.active {
    color: rgb(255, 255, 255);
}
.cardHeading {
    color: rgb(255, 255, 255);
}
.cardText {
    font-size: 0.875rem;
    margin: 0;
}

.a {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
