* {
    color: #a7a7a7;
}
.active {
    color: rgb(255, 255, 255);
}
// .paragraph {
// }
// .span {
// }
// .h1 {
// }
// .h2 {
// }
// .h3 {
// }
// .h4 {
// }
// .h5 {
// }
.a {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
