* {
    color: rgb(255, 255, 255);
    // font-family: Circular;
}
.paragraph {
    font-family: Circular;
    color: red;
}
.span {
    color: green;
}
.h1 {
    color: blue;
}
.h2 {
    font-size: 1.5rem;
}
.h3 {
    color: palevioletred;
}
.h4 {
    color: yellow;
}
.h5 {
    color: peru;
}
.a {
    color: rgb(50, 50, 50);
    cursor: pointer;
}
