.cardContainer {
    background-color: #181818;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 210px;
    padding: 16px;
    width: 100%;
}
.cardContent {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    div {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        overflow: clip;
        max-height: 150px;
        max-width: 194px;
    }
    div > img {
        max-height: 150px;
        max-width: 267px;
    }
}
