.cardContainer {
    background-color: #181818;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 210px;
    padding: 16px;
    width: 100%;
}
.cardContent {
    border-radius: 8px;
    box-sizing: border-box;
    // max-width: calc(210px - 16px);
    // object-fit: cover;
    img {
        // object-fit: cover;
        border-radius: 8px;
        width: 100%;
    }
}
